body{
			cursor:pointer;
			font-family:Arial, Verdana,sans-serif;}
		.titleimage{
				border-radius:40px;
				width:60px;
				height:40px;}
		#googleicon{
				float:left;
				width:90px;
				height:35px;
				margin-top:15px;
				margin-left:15px;
				padding-right:45px;}
		#searchbar{
				float:left;
				border-radius:20px;
				border:1px solid rgb(200,200,200);
				padding-left:20px;
				width:600px;
				height:40px;
				margin-top:15px;}
		#searchbar{
				background-size:30px 25px;
				background-image: url("../index.jfif");
				background-repeat:no-repeat;
				background-position:560px center;}

		#cos{
			width:25px;
			height:25px;
			position:relative;
			top:23px;
			right:70px;}
		#googleapps{
				
				width:25px;
				height:25px;
				
				margin-left:450px;}
		#googleacc{
				border-radius:30px;
				width:30px;
				height:30px;
				margin-left:15px;}
		hr{
			color:1px solid rgb(211,211,211);}
		ul{
			margin-bottom:10px;
			font-size:14px;
			margin-top:5px;
			margin-left:100px;}
		li{
			padding-bottom:5px;
			padding-left:20px;
			display:inline;}
		.Sicon{
			margin-right:3px;
			width:30px;
			height:30px;}
		.Iicon{
			margin-right:3px;
			width:15px;
			height:15px;}
		.Nicon{
			margin-right:3px;
			width:20px;
			height:20px;}
		.Vicon{
			margin-right:3px;
			width:20px;
			height:20px;}
		.Micon{
			margin-right:3px;
			width:30px;
			height:30px;}
		.Dicon{
			margin-right:3px;
			width:40px;
			height:40px;}
		#a{
			margin-bottom:10px;
			text-decoration:underline;
			color:blue;}	
		#b{
			margin-bottom:30px;}
		
		#S{
			margin-left:100px;}
		
		#content{
				padding:5px;
				width:700px;}
		
		#alsosearch{
				width:550px;
				height:130px;
				margin-left:160px;
				border:1px solid rgb(128,128,64);
				border-radius:10px;}
		.cross{
				width:10px;
				height:10px;
				position:relative;
				bottom:30px;
				left:510px;}
		
		#search{
				height:30px;
				line-height:0.8em;
				padding-left:15px;
				font-size:14px;}
		#col1{
			float:left;
			line-height:0.8em;
			padding-left:15px;
			font-size:14px;
			width:250px;}
		#col2{
			padding-top:1px;
			font-size:14px;
			line-height:0.8em;}
		
		#fontsize{
				margin-left:160px;
				font-size:13px;}
		.searchresult{
				display:block;}
		#link{
			font-size:18px;}
		a{
			color:rgb(0,0,255);
			text-decoration:none;}
		a:hover{
				text-decoration:underline;}
		a:active{
				color:rgb(0,0,255);}
		#table{
				font-size:19px;
				margin-left:160px;
				border:1px solid rgb(0,0,128);
				height:300px;
				border-radius:10px;}
		
		#row0{
			border-radius:10px;
			padding-left:15px;}
		#rows{
			height:45px;
			font-size:14px;
			padding-left:15px;
			border-top:1px solid rgb(0,0,128);}
		.down{
			width:10px;	
			height:10px;
			position:relative;
			left:490px;
			bottom:40px;}
		.Feed{
			color:rgb(130,130,130);
			text-align:right;
			font-size:12px;}
		.Feed:hover{
				text-decoration:underline;}
		#row0a{
			font-size:18px;
			margin-left:160px;}

		#col1a{
			float:left;
			font-size:12px;
			margin-left:160px;
			margin-right:20px;}
		
		
		#col2a{
			padding:1px;
			font-size:12px;
			margin-left:150px;}
		#google{
				margin-left:150px;}

		.google-letter{
					font-size:30px;
					text-align:center;
					padding:0px;
					margin:0px;}
		#G{
			color:rgb(0,0,255);}
		#fo{
			color:rgb(255,0,0);}
		#o{
			color:rgb(255,255,0);}

		#l{
			color:rgb(0,128,64);}
		.nav{
			line-height:0em;
			padding:0px;
			margin-left:170px;}
		
		#no{
			font-size:14px; 
			padding:0px;
			margin-right:9px;}
		#next{
			font-size:14px; 
			margin-left:30px;}
		.footer1{
				padding:0px;
				margin-top:10px;
				width:190%;
				height:45px;
				border-top:1px solid rgb(211,211,211);
				background-color:rgb(245,245,245);}
		.footer2{	
				padding:0px;
				width:190%;
				height:45px;
				border-top:1px solid rgb(211,211,211);
				border-bottom:1px solid rgb(211,211,211);
				background-color:rgb(245,245,245);}
		.footerlinks{
				color:rgb(111,111,111);}
		li#bullet{
				list-style-type:disc;}
